@{
    ViewBag.Title = "BookWay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CSS/home_Index.css" rel="stylesheet" />
<style>
  .article-post p  img{height:136px;width: 108px;}
</style>
<div class="container">
    <div class="tit deepredt">
        书山有路
    </div>
    <div class="article-post">
        <p>书山有路是我创建的一个读书群，主要是分享读书心得和电子书，目前主要成分还是程序员。每一期读书活动都由群友共同选出一本书来读。目前已经进行了四期</p>
        <h3>1.《代码整洁之道》</h3>
        <p> <img src="~/Content/img/dm.jpg" /></p>
        <p><a href="http://www.cnblogs.com/stoneniqiu/p/4815259.html">>>读书笔记</a></p>
        <h3>2.《失控》</h3>
        <p>
          <img src="~/Content/img/sk.jpg" />  </p>
        <p><a href="http://www.cnblogs.com/stoneniqiu/p/5030749.html">>>读书笔记</a></p>
        <h3>3.《女人的起源》</h3>
        <p>
            <img src="~/Content/img/nr.jpg" />
        </p>
        <p><a href="http://www.cnblogs.com/stoneniqiu/p/4931666.html">>>读书笔记</a></p>
        <h3>4.《数学之美》</h3>
        <p>
            <img src="~/Content/img/sx.jpg" />
        </p>
        <p><a href="http://www.jianshu.com/p/d6998ecae9bd">>>读书笔记</a></p>
        <img src="~/Content/img/vote.png" />
        <p><strong>QQ群：452450927 欢迎有兴趣的朋友加入</strong></p>
        <img src="~/Content/img/shushan.jpg" style="width:300px;height:300px;" />
    </div>
   

  </div>
