@model Portal.MVC.ViewModel.LogOnModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>哆啦宝</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/Content/Matrix_Admin/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/Matrix_Admin/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="~/Content/Matrix_Admin/css/matrix-login.css" />
    <link href='http://fonts.useso.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <link href="~/Content/Matrix_Admin/font-awesome/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div id="loginbox">
           @using (Html.BeginForm("Logon", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-vertical", role = "form", id = "loginform" }))
           {
             @Html.AntiForgeryToken()
               <div class="control-group normal_text"> <h3><img src="~/Content/Matrix_Admin/img/logo.png" alt="Logo" /></h3></div>
               <div class="control-group">
                   <div class="controls">
                       <div class="main_input_box">
                           <span class="add-on bg_lg"><i class="icon-user"></i></span><input type="text" name="UserName" required="required" placeholder="用户名" />
                       </div>
                   </div>
               </div>
               <div class="control-group">
                   <div class="controls">
                       <div class="main_input_box">
                           <span class="add-on bg_ly"><i class="icon-lock"></i></span><input type="password" required="required" name="Password" placeholder="密码" />
                       </div>
                   </div>
               </div>
               <div>
                   @Html.ValidationSummary(true, "", new { @class = "text-danger" })
               </div>
               <div class="form-actions">
                   <span class="pull-left">
                       @Html.CheckBoxFor(m => m.RememberMe)
                       @Html.LabelFor(m => m.RememberMe)
                   </span>
                   <span class="pull-right"><button type="submit" class="btn btn-success"> 登录</button></span>
               </div>
           }
        @*<form id="recoverform" action="#" class="form-vertical">
            <p class="normal_text">Enter your e-mail address below and we will send you instructions how to recover a password.</p>

            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lo"><i class="icon-envelope"></i></span><input type="text" placeholder="E-mail address" />
                </div>
            </div>

            <div class="form-actions">
                <span class="pull-left"><a href="#" class="flip-link btn btn-success" id="to-login">&laquo; Back to login</a></span>
                <span class="pull-right"><a class="btn btn-info">Reecover</a></span>
            </div>
        </form>*@
    </div>

    <script src="~/Content/Matrix_Admin/js/jquery.min.js"></script>
    <script src="~/Content/Matrix_Admin/js/matrix.login.js"></script>
</body>

</html>
