@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-header">
    <div id="breadcrumb">
        <a href="@Url.Action("Index", "User")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
        <a href="#" title="@ViewBag.Des" class="tip-bottom current">权限验证</a>
    </div>

</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="alert alert-block alert-info" style="margin-top: 100px">
                Sorry! 需要 @ViewBag.P 权限才能访问, 你的权限不够！
            </div>

            @Html.ActionLink("返回首页", "Index", "Home")

        </div>
    </div>
</div>
