@{
    ViewBag.Title = "ValidMail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .wheader-wrap h1 {
    color: #4d5559;
    font-size: 18px;
    line-height: 100%;
}
.wheader-wrap {
    padding-bottom: 20px;
    border-bottom: 1px solid #d0d6d9;
}
.result-container {
    padding: 80px 0;
    text-align: center;
}.sent-success i {
    width: 157px;
    height: 72px;
    margin-left: -50px;
    background: url(../../Content/img/bigmail.png) no-repeat;
}.result-container i {
    display: inline-block;
}
.result-container h1 {
    margin: 20px 0;
    color: #333;font-size: 24px;
}.bottom {
    width: 800px;
    margin: 30px auto;
    border-top: 1px solid #d0d6d9;
}.bottom .sbtn-green {
    margin-top: 30px;
}
.sbtn-green:link, .sbtn-green:visited {
    display: inline-block;
    margin-top: 50px;
    width: 120px;
    background: #39b94e;
    color: #fff;
}.bottom .link-goback {
    display: inline-block;
    margin: 30px 0 0 30px;
    color: #fff;
    font-size: 14px;
    background-color: #333;
    height: 40px;
    line-height: 40px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    transition: background-color 0.2s;
}.wrap-boxes {
    background: #fff;
}
.wwrap {
    padding: 20px;
}.rlf-btn-green {
    color: #fff;
    font-size: 14px;
    background-color: #39b94e;
    height: 40px;
    line-height: 40px;
    width: 160px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
}.sbtn-green:link, .sbtn-green:visited {
    display: inline-block;
    margin-top: 50px;
    width: 120px;
    background: #39b94e;
    color: #fff;
}.sent-again span.resend {
    color: #39b94e;
    cursor: pointer;
}
 .result-container h1 strong{color: #39b94e }
</style>
<div class="container">
    <div class="wwrap wrap-boxes">
        <div class="wheader-wrap">
            <h1>邮箱验证</h1>
        </div>
        <div class="result-container sent-success">
        	 
        	<i></i>
        	<h1>@if (TempData["msg"] != null)
	            {
	                <strong>@TempData["msg"]</strong>
	            }我们向您 @ViewBag.Email 发送了验证邮件</h1>
        	<p>验证邮箱可以更好的保护您的账户安全，请及时验证！<span class="mail-label">没收到？</span><span class="sent-again"><span class="js-resend resend" data-from="reg" data-t="59">再次发送验证邮件</span></span></p>
            <div class="bottom">
        <a href="@ViewBag.Server" target="_blank" class="sbtn-green rlf-btn-green">去邮箱验证</a>
           <a class="link-goback" href="@Url.Action("Index","Home")">返回首页</a>
            </div>

        </div>
    </div>
</div>
