body {
    font-size: .85em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    color: #232323;
}
.tbody {
    background-color: white;
    box-shadow: 0 0 5px gainsboro;margin-top: 20px;
}

header, footer, nav, section {
    display: block;
}
/* nav
-----------------------------------------------------------*/
 h3,h2,p{ font-family: 微软雅黑, 新宋体;cursor: default}
.news_update ul li:hover>.temp_news{border: 1px solid #00bfff}
.news_update ul li:hover {
    cursor: pointer;
}
 .imgbox:hover> h6 a{color:#800080}

.dsearch {
    margin-top: 40px; 
}
.dsearch input{ width:300px;}
 
.border{border: 1px solid goldenrod}
 
.mynav li{ width: 200px;}
.mynav li a{text-align: center}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
