<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1, minimum-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Pragma" content="no-cache">
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="screen-orientation" content="portrait">
    <meta name="x5-orientation" content="portrait">
    <!-- UC默认竖屏 ，UC强制全屏 -->
    <meta name="full-screen" content="yes">
    <meta name="browsermode" content="application">
    <!-- QQ强制竖屏 QQ强制全屏 -->
    <meta name="x5-orientation" content="portrait">
    <meta name="x5-fullscreen" content="true">
    <meta name="x5-page-mode" content="app">
    <title>@ViewBag.Title</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script src="~/js/jquery-1.11.3.min.js"></script>
    <script>
        $(function () {
            $(".datebox table td").click(function() {
                if (!$(this).hasClass('ab')) {
                    $(".datebox table td").removeClass('ab').children('.subscribe').remove();
                    $(this).addClass('ab')
                    $(this).html('<div>' + $(this).html() + '</div><div class="subscribe">预约</div>');
                }
            });
        })
    </script>
</head>
<body>
    <div class="wrapper">
        <div id="content">
            @RenderBody()
        </div>
        @RenderSection("scripts", required: false)
    </div>
    <div>
    </div>
</body>
</html>
 