
@if (Request.IsAuthenticated) {
    <text>
        <span class="loga">@Html.ActionLink(User.Identity.Name, "Index", "User", routeValues: null, htmlAttributes: new { @class = "username", title = "个人中心" })</span>
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a class="loga" href="javascript:document.getElementById('logoutForm').submit()">注销</a>
        }
    </text>
}
else
{

    <a class="" href="@Url.Action("Logon","Account")">登录</a>
    
    <a class="" href="@Url.Action("Register","Account")"   >注册</a>
}

