@model Portal.MVC.ViewModel.ContentHeaderLink
<div id="content-header">
    <div id="breadcrumb">
        <a href="@Url.Action("Index", "Home")" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>Home</a>
        <a href="@Model.Url" class="current">@Model.Name</a>
    </div>
</div>