@if (TempData["err"] != null)
{
    <div class="alert alert-danger">@TempData["err"]</div>
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-success">@TempData["msg"]</div>
}

@if (TempData["info"] != null)
{
    <div class="alert alert-info">@TempData["info"]</div>
}