@{
    ViewBag.Title = "NoData";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
       .wp h1{padding: 0;margin: 0;}
      .top-nav li a:hover{text-decoration: none;}  
</style>

<div class="alert alert-danger">Sorry,数据不存在</div>

