/* Reset */
.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
	margin: 0;
	padding: 0;
	border: none;
	border-spacing: 0;
	z-index: 10000!important;
}
/* Calendar Wrapper */
.ui-datepicker {
	display: none;
	width:250px;
	padding: 15px;
	cursor: default;
	text-transform: uppercase;
	font-family: Tahoma;
	font-size: 12px;
	border:1px #222222 solid;
	background-size: 100% 100%;
	background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.25)), to(rgba(0, 0, 0, 0.25)), color-stop(0.4, rgba(0, 0, 0, 0)), color-stop(0.6, rgba(0, 0, 0, 0))), -webkit-gradient(linear, left top, left bottom, from(#514d43), to(#25231f));
	background:-webkit-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.25)), -webkit-linear-gradient(top, #514d43, #25231f);
	background:-moz-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.25)), -moz-linear-gradient(top, #514d43, #25231f)
	background:-ms-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.25)), -ms-linear-gradient(top, #514d43, #25231f);
	background:-o-linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.25)), -o-linear-gradient(top, #514d43, #25231f);
	background:linear-gradient(left, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.25)), linear-gradient(top, #514d43, #25231f);
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3),
                0 6px 0 -3px #514d43,
                0 7px 1px -3px rgba(0,0,0,0.3),
                0 12px 0 -6px #514d43,
	            0 13px 1px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3),
                0 6px 0 -3px #514d43,
                0 7px 1px -3px rgba(0,0,0,0.3),
                0 12px 0 -6px #514d43,
	            0 13px 1px -6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3),
                0 6px 0 -3px #514d43,
                0 7px 1px -3px rgba(0,0,0,0.3),
                0 12px 0 -6px #514d43,
	            0 13px 1px -6px rgba(0,0,0,0.3);
}

/* Calendar Header */
.ui-datepicker-header {
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #f15a23;
}
.ui-datepicker-title { text-align: center; }

/* Month */
.ui-datepicker-month {
	position: relative;
	padding-right: 15px;
	color: #FFF;
}

.ui-datepicker-month:before {
	display: block;
	position: absolute;
	top: 5px;
	right: 0;
	width: 5px;
	height: 5px;
	content: '';
	background: #a5cd4e;
	background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
	background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/* Year */
.ui-datepicker-year {
	padding-left: 8px;
	color: #a8a8a8;
}

/* Prev Next Month */
.ui-datepicker-prev,
.ui-datepicker-next {
	position: absolute;
	top: -2px;
	padding: 5px;
	cursor: pointer;
}

.ui-datepicker-prev {
	left: 0;
	padding-left: 0;
}

.ui-datepicker-next {
	right: 0;
	padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span{
	display: block;
	width: 5px;
	height: 10px;
	text-indent: -9999px;
	background-image: url(../images/ui_arrows.png);
}
.ui-datepicker-prev span { background-position: 0px 0px; }
.ui-datepicker-next span { background-position: -5px 0px; }
.ui-datepicker-prev-hover span { background-position: 0px -10px; }
.ui-datepicker-next-hover span { background-position: -5px -10px; }

/* Calendar "Days" */
.ui-datepicker-calendar th {
	padding-top: 10px;
	padding-bottom: 5px;
	text-align: center;
	font-weight: normal;
	color: #FFF;
	border-top:1px #793838 solid;
}

.ui-datepicker-calendar td {
	padding: 0 4px;
	text-align: center;
	line-height: 16px;
}

.ui-datepicker-calendar .ui-state-default {
	display: block;
	width: 26px;
	outline: none;
	text-decoration: none;
	color: #a8a8a8;
	border: 1px solid transparent;
}

/* Day Active State*/
.ui-datepicker-calendar .ui-state-active ,.ui-datepicker-calendar .ui-state-hover {
	color: #ffffff;
	border-color: #f15a23;
	background-color:#333333;
}

/* Other Months Days*/
.ui-datepicker-other-month .ui-state-default { color: #565656; }
