@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/CSS/register-progress.css" rel="stylesheet" />

<style>
    .register-progress .pross {
        width: 225px;
    }
</style>
<div class="container">
    <div class="row-fluid divcontent">
        <div  style="margin-top: 40px;"></div>
        <div class="register-progress clearfix">
            <div class="pross pross-ok"><span class="index">1</span>输入登录帐号
                <div class="pross-dir pross-dir-bg"><span class="outside"></span><span class="inside"></span></div>
            </div>
            <div class="pross pross-ok"><span class="index">2</span>找回密码方式
                <div class="pross-dir pross-dir-bg"><span class="outside"></span><span class="inside"></span></div>
            </div>
            <div class="pross pross-ok"><span class="index">3</span>修改密码
                 <div class="pross-dir "><span class="outside"></span><span class="inside"></span></div>
            </div>
             <div class="pross"><span class="index">4</span>修改成功
          </div>
        </div>
        <div class="dwell">
            <div class="myfieldset">
                <div class="fieldset-title">修改密码</div>
                <div class="holdbox">
                    <ul>
                        <li>
                            <span class="required-char"><i>*</i>新密码：</span> <input type="password" id="Newpassword" class="logon-control" maxlength="20"/><samp class="pwdinfo">6-20位字母或数字组成</samp><samp class="error-text">长度不符要求</samp><span class="icon-ok" style="display:none;"></span>
                        </li>
                        <li>
                            <span class="required-char"><i>*</i>确认密码：</span>  <input type="password" id="Newpassword1"  class="logon-control" maxlength="20" /><samp class="error-text"></samp><span class="icon-ok" style="display:none;"></span>
                        </li>
                        <li>
                            <span class="required-char"><i>*</i>验证码：</span>  <input type="text" id="code" class="validcode"/><img src="@Url.Action("GetValidateCode", "User")" id="yanzheng" title="换一张"  alt="验证码"/><span class="icon-ok" style="display:none"></span>
                        </li>
                        <li>   <span style=" "> </span><input type="submit" style="margin-left: 5px;" disabled="disabled" class="btn btn-color" id="nextbt" value="确定修改" /> <span class="errorinfo" style="display: none;vertical-align: baseline; width: 120px;width: auto"></span></li>
                    </ul>
                    <input type="hidden" value="@ViewBag.Id" id="uid" />
                </div>
            </div>

        </div>
        
      
    </div>
</div>



 <script type="text/javascript">
            
            $(function() {
                $("#yanzheng").bind("click", function () {
                    this.src = "../User/GetValidateCode?time=" + (new Date()).getTime();
                });

                $("#code").keyup(function () {
                    checkValidCode();
                });
                function checkValidCode() {
                    var code = $("#code").val();
                    if ($.trim(code) != "") {
                        $.get("/User/CheckvCode", { code: code }, function (data) {
                            if (data != 1) {
                                $('#nextbt').attr('disabled', 'disabled');
                                $('.icon-ok:eq(2)').attr('data-check', '0');
                                $.infoShow(data);
                            } else {
                                $('.icon-ok:eq(2)').attr('data-check', '1');
                                if ($('.icon-ok:eq(1)').attr('data-check') == '1') {
                                    $('#nextbt').removeAttr('disabled');
                                }
                            }
                        });
                    }
                }

                $("#Newpassword").keyup(function () {
                    var newcode = $(this).val();
                    if (newcode.length < 6 || newcode.length > 20) {
                        $(this).parent().children('.error-text').show();
                        $('.pwdinfo').show();
                        $(this).addClass('error-info');
                        $(this).parent().children(".icon-ok").hide();
                        if (newcode.length == 0) {
                            $('#Newpassword1').parent().children('.error-text').show().html('必须先输入新密码');
                            $('#Newpassword1').parent().children(".icon-ok").hide();
                        }
                    } else {
                        $(this).parent().children('.error-text').hide();
                        $('.pwdinfo').hide();
                        $(this).parent().children(".icon-ok").show();
                        $(this).removeClass('error-info');
                    }
                    if (newcode.length > 0) {
                        compare($(this).val(), $("#Newpassword1").val());
                    }
                   
                });


                $("#Newpassword1").keyup(function () {
                    if ($("#Newpassword").val().length == 0) {
                        $(this).parent().children('.error-text').show().html('必须先输入新密码');
                    }
                    compare($(this).val(), $("#Newpassword").val());
                });


                function compare(thisVal, compareVal) {
                    if (compareVal.length > 0) {
                        if (thisVal == compareVal) {
                            $('#Newpassword1').parent().children('.error-text').hide();
                            $('#Newpassword1').parent().children(".icon-ok").show();
                            $('#Newpassword1').removeClass('error-info');
                        } else {
                            $('#Newpassword1').parent().children('.error-text').show().html('两次密码不一致');
                            $('#Newpassword1').parent().children(".icon-ok").hide();
                            $('#Newpassword1').addClass('error-info');
                        }
                    }
                    if (compareVal.length >= 6 && compareVal.length <= 20 && thisVal == compareVal) {
                        $('.icon-ok:eq(1)').attr('data-check', '1');
                        if ($('.icon-ok:eq(2)').attr('data-check') == '1') {
                            $('#nextbt').removeAttr('disabled');
                        }
                    } else {
                        $('.icon-ok:eq(1)').attr('data-check', '0');
                        $('#nextbt').attr('disabled', 'disabled');
                    }
                }


                $("#nextbt").click(function () {
                    var code = $("#code").val();
                    if ($.trim(code) != "") {
                        $.post("/User/CheckvCode", { code: code }, function (data) {
                            if (data != 1) {
                                $('#nextbt').attr('disabled', 'disabled');
                                $('.icon-ok:eq(2)').attr('data-check', '0');
                                $.infoShow(data);
                            } else {
                                $('.icon-ok:eq(2)').attr('data-check', '1');
                                if ($('.icon-ok:eq(1)').attr('data-check') == '1') {
                                    $('#nextbt').removeAttr('disabled');
                                }
                                var newcode = $("#Newpassword").val();
                                var id = $("#uid").val();
                                $.post("/User/ChangePassword", { id: id, pwd: newcode }, function (result) {
                                    if (result == 1) {
                                        $('#code').val('');
                                        $('.icon-ok:eq(1)').attr('data-check', '0');
                                        $('.icon-ok:eq(2)').attr('data-check', '0');
                                        window.location = "/User/ChangePasswordSuccess";
                                    } else {
                                        $.infoShow("修改失败", 0);
                                    }
                                });
                            }
                        });
                    }
                   
                      
                });

                $.extend({
                    infoShow: function (txt, type) {
                        $(".errorinfo").html(txt).show();
                        if (type == "1") {
                            $(".errorinfo").css("color", "#57b382");
                        } else {
                            $(".errorinfo").css("color", "#ff0000");
                        }
                        setTimeout(function () {
                            $(".errorinfo").fadeOut();
                        }, 2000);
                    }
                });
            });
</script>