@{
    ViewBag.Title = "修改成功";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/CSS/register-progress.css" rel="stylesheet" />

<style>
    .register-progress .pross {
        width: 225px;
    }
</style>
<div class="container" style="width:1120px;" >
    <div class="row-fluid divcontent">
        
        <div  style="margin-top: 40px;"></div>
        <div class="register-progress clearfix hidden-xs hidden-sm">
          <div class="pross pross-ok"><span class="index">1</span>输入登录帐号
            <div class="pross-dir pross-dir-bg"><span class="outside"></span><span class="inside"></span></div>
          </div>
          <div class="pross pross-ok"><span class="index">2</span>找回密码方式
            <div class="pross-dir  pross-dir-bg"><span class="outside"></span><span class="inside"></span></div>
          </div>
            <div class="pross pross-ok"><span class="index">3</span>修改密码
                 <div class="pross-dir  pross-dir-bg"><span class="outside"></span><span class="inside"></span></div>
            </div>
             <div class="pross pross-ok"><span class="index">4</span>修改成功
          </div>
        </div>
        <div class="dwell">
              <div class="myfieldset">
                <div class="fieldset-title">修改成功</div>
                  <div  class="success">
                    <div class="success-info">您的密码已修改成功，请重新 <a href="@Url.Action("Logon","Account")" style="color:#2b8e57">登录</a></div>
            </div>
        </div>
      </div>
    </div>
</div>