@{
    ViewBag.Title = "SetPasswordResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
  <div class="container" style="padding-left:22px;">     
    <div class="hd">
        <h2 class="fl">修改密码</h2>
    </div>
    <div  class="success">
        <div class="success-info">您的密码已修改成功，请重新 <a href="@Url.Action("Logon","Account")" style="color:#2b8e57">登录</a></div>
    </div>
         
</div>
