/*部分公用*/
*{
	margin: 0;padding: 0;
	font-family: Arial,"黑体";
	border: none;
}
img{
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
body{
	margin: 0;
	background: none;
}
ul,ol{
	list-style-type: none; 
}
a{
	text-decoration: none;
	border: none;
	outline: none;
}
a:visited{
	border: none;
	outline: none;
}
a:active{
	border: none;
	outline: none;
}

 

.header{
	height: 50px;
	width: 100%;
	
    background-color: rgb(0, 0, 0);  
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}
.header .head{
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.header .logo{
	float: left;
	display: block;
	border-collapse: none;
}
.header .logo img{
	float: left;
}
.header .nav{
	float: right;
	overflow: hidden;
	position: relative;
}
.header .nav li{
	float: right;
	height: 50px;
	padding: 0 20px;
	position: relative;
	z-index: 99;
}
.header .nav a{
	color: #ffffff;
	font-size: 20px;
	display: block;
	padding: 0 10px;
	line-height: 50px;
}
.header .nav li.lastone{
	margin-left: 15px;
	padding: 9px 0 11px;
	height: 30px;
}
.header .nav li.lasttwo{
	margin-left: 25px;
	padding: 9px 0 11px;
	height: 30px;
}
.header .nav li.last a{
	height: 30px;
	background: none;
	line-height: 30px;
	border-radius: 5px;
	font-size: 16px;
	color: #fead00;
	border: 1px solid #fead00;
}
.header .nav li.last a:hover{
	background: #fead00;
	color: #313131;
}
.header .nav li.last a:active{
	background: #eb960c;
	color: #313131;
	border: 1px solid #eb960c;
}
.header .nav a.active{
	height: 46px;
	color: #fead00;
	/*border-bottom: 4px solid #fead00;*/
}

/*这个是underline**********************************************/
.header .nav .undline{
	position: absolute;
	top: 46px;
	left: 300px;
	height: 0px;
	width: 60px;
	border-bottom: 4px solid #fead00;
	z-index: 0;
}
/*line的位置*/
.index .nav .undline{
	left: 20px;
}
.product .nav .undline{
	left: 120px;
}
.tenant .nav .undline{
	left: 220px;
}
.canal .nav .undline{
	left: 320px;
}
.aboutus .nav .undline{
	left: 420px;
	width: 100px;
}

.header .nav .aboutline{
	width: 100px;
}
.header .nav a:hover{
	color: #fead00;
}
.main{
	width: 1024px;
	margin: 30px auto 0;
}
.tit{
	height: 45px;
	border-left: 6px solid #fead00;
	padding-left: 10px;
	line-height: 45px;
	font-size: 30px;
	font-weight: normal;
}
.tit span{
	font-size: 20px;
	line-height: 0px;
}
.forlink{
	height: 50px;
}
.forlineab{
	width: 100%;
	height: 50px;
}
.forlineten{
	width: 100%;
	height: 1px;
}
.flexslider ul div{
	width: 990px;
	padding: 162px 34px 0 0;
	margin: 0 auto;
	text-align: right;
	color: #ffffff;
}
.flexslider ul div h1{
	font-size: 62px;
	margin-bottom: 123px;
}
.flexslider ul div p{
	font-size: 20px;
	margin-bottom: 21px;
}
.flexslider ul li.bg1 div{
	text-align: center;
	padding-top: 248px;
}
.flexslider ul li.bg1 div h1{
	font-size: 62px;
	margin-bottom: 26px;
}
.flexslider ul li.bg1 div p{
	font-size: 20px;
}
.flexslider ul li{
	height: 600px;
	background: url("../images/s1.png") center center;
	background-color: #333;
	background-size: auto 100% ;
}
.flexslider ul li.bg2{
	background: url("../images/s2.png") center center;
	background-color: #333;
}
.flexslider ul li.bg3{
	background: url("../images/s3.png") center center;
	background-color: #333;
}
.flexslider ul li.bg4{
	background: url("../images/s4.png") center center;
	background-color: #333;
}
/*底部footer*/
.footer{
	width: 100%;
	height: 300px;
	background: #313131;
	margin-top: 70px;
}
.footer .footcon{
	width: 970px;
	margin: 0 auto;
	padding: 37px 30px 0;
	overflow: hidden;
}
.footcon .qrcode{
	float: left;
	margin-right: 95px;
}
.footcon .qrcode img{
	margin: 0;
}
.footcon .xrcode{
	float: right;
	margin-left: 0px;
}
.footcon .xrcode img{
	margin: 0;
}
.footcon h3{
	color: #ffffff;
	font-size: 20px;
}
.footcon li{
	margin-bottom: 17px;
	text-align: center;
}
.footcon ul{
	float: left;
	width: 84px;
	margin-right: 50px;
}
.footcon .product{
	width: 42px;
} 
.footcon ul a{
	color: #787878;
	font-size: 16px;
}
.footcon ul a:hover{
	color: #a1a1a1;
}
.footer .comshow{
	color: #ffffff;
	font-size: 14px;
	text-align: center;
	margin: 48px 0 10px;
}
.footer .combei{
	color: #959595;
	font-size: 12px;
	text-align: center;
}
/******************************页面内容部分******************************/
/*行业动态*/
.hangye{
	position: relative;
}
.hangye .twoimg{
	width: 976px;
	padding: 50px 24px 0;
}
.hangye .twoimg p{
	overflow: hidden;
}
.hangye .twoimg img{
	float: left;
}
.hangye .hangye2{
	position: absolute;
	top: 10px;
	right: 7px;
}
.hangye .hangye2 img{
	margin-right: 0;
}
.hangye .hytit{
	width: 1024px;
	font-size: 22px;
	padding: 32px 0 0 140px;
}
.hangye .hytit .hytitlef{
	margin-right: 432px;
}
/*会员是如何增长的*/
.mimi{
	margin-top: 55px;
}
.mimi .content{
	width: 1024px;
	padding: 30px 0 0 0;
	overflow: hidden;
}
.mimi .content .secret{
	width: 512px;
	float: left;
}
.mimi .content .secret p{
	height: 316px;
}
.mimi .secret p img{
	display: block;
}
.mimi .secret h3{
	margin: 45px 0 25px;
	font-size: 20px;
	text-align: center;
}
.mimi .secret ul{
	padding-left: 50px;
	overflow: hidden;
}
.mimi .secret ul li{
	float: left;
	margin-bottom: 20px;
	font-size: 16px;
	width: 125px;
	padding-left: 12px;
	background: url("../images/liststyle.png") 0 center no-repeat;
}
.mimi .secret ul .nobot{
	margin-bottom: 0;
}
.mimi .secret .rightlist{
	padding-left: 85px;
}
.mimi .secret ul li.longname{
	width: 165px;
}
.mimi .secret ul li.shortname{
	width: 110px;
}
/*微店*/
.weidian{
	margin-top: 40px;
	padding-top: 30px;
	background: url("../images/weidian.png") 0 0 no-repeat;
	background-position: center center; 
	background-size: cover;
	height: 570px;
	background-color: #060403;
}
.weidian .content{
	width: 1024px;
	margin: 0 auto;
}
.weidian .tit{
	color: #ffffff;
}
.weidian .dianmian{
	padding: 25px 0px;
	overflow: hidden;
}
.weidian .dianmian li{
	width: 33.33%;
	float: left;
	margin-bottom: 52px;
}
.weidian .dianmian .nobot{
	margin-bottom: 0;
}
.weidian .dianmian li p img{
	display: block;
}
.weidian .dianmian li h4{
	font-weight: normal;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	margin-top: 22px;
}
/*行业动态*/
.serve .server{
	padding-left: 12px;
	overflow: hidden;
	padding-top: 75px;
}
.serve .server li{
	float: left;
	width: 202px;
}
.serve .server li p{
	text-align: center;
}
.serve .server li h4{
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	margin-top: 50px;
}
/*用户画像*/
.paint{
	margin-top: 85px;
}
.paint .paintdetil{
	padding: 50px 0 0 0;
}
.paint .paintdetil ul{
	overflow: hidden;
	width: 1000px;
	margin: 0 auto;
}
.paint .paintdetil li{
	float: left;
}
.paint .paintdetil li p{
	text-align: center;
	font-size: 20px;
}
.paint .paintdetil .jiantou{
	width: 103px;
	padding-top: 126px;
}
.paint .detil1{
	padding-top: 35px;
	width: 225px;
}
.paint .detil1 .detil{
	height: 311px;
}
.paint .detil2{
	padding-top: 35px;
	width: 100px;
}
.paint .detil2 .detil{
	height: 311px;
}
.paint .detil3{
	padding-top: 80px;
	width: 173px;
}
.paint .detil3 .detil{
	height: 266px;
}
.paint .detil3 .detil div{
	width: 173px;
	height: 145px;
	border: #fead00 1px solid;
	border-radius: 7px;
	font-size: 20px;
	line-height: 20px;
}
.paint .detil3 .detil div .p1{
	padding: 35px 0;
}
.paint .detil4{
	width: 181px;
}
.paint .detil4 .detil{
	padding-top: 20px;
	height: 322px;
}
.paint .detil4 ul{
	overflow: hidden;
	width: 100%;
	margin-top: 27px;
}
.paint .detil4 ul li{
	overflow: hidden;
	float: left;
	width: 91px;
	background: url("../images/liststyle.png") 0 center no-repeat;
	font-size: 16px;
	padding-left: 12px;
	margin-bottom: 10px;
	line-height: 18px;
}
.paint .detil4 ul .lir{
	float: right;
	width: 65px;
}
/*合作伙伴*/
.partner{
	margin-top: 65px;
}
.partner .partdetil{
	padding-top: 23px;
}
.partner h4{
	font-weight: normal;
	font-size: 20px;
}
.partner p img{
	margin: 20px 0 40px;
}
.partner p .nobot{
	margin-bottom: 0;
}
/*公司荣誉*/
.company{
	margin-top: 55px;
}
.company .comdetil{
	padding-top: 40px;
}
.company .comdetil span{
	display: inline-block;
	width: 195px;
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	font-weight: bold;
}
.company .comdetil .spanfirst{
	margin: 0 50px 0 191px;
}
.company .comdetil .spanend{
	width: 142px;
	margin-left: 73px;
}
.company .comdetil .cpmimg{
	margin-bottom: 30px;
}
/************************************产品页面*************************************/
.product .img img{
	margin: 0;
}
.product .onecon{
	padding-top: 50px;
	margin-bottom: 0px;
}
.product .title{
	height: 150px;
}
.product .title .con{
	width: 1024px;
	position: relative;
	margin: 0 auto;
	color: #ffffff;
}
.product .title .con .img{
	position: absolute;
	top: 0px;
	left: 50px;
}
.product .title .con .words{
	float: left;
	padding: 44px 0 0 230px;
	font-size: 20px;
	text-align: left;
}
.product .title .con .words span{
	display: block;
	margin-bottom: 20px;
}
.product .title .con h2{
	float: right;
	padding: 0 50px 0 0;
	font-size: 102px;
	font-weight: 100;
	line-height: 150px;
	height: 150px;
}
.product .content{
	width: 1024px;
	margin: 83px auto 0;
}
.product .content .tent{
	padding-top: 32px;
}
/*产品内容区别部分*/
.product .onecon .title{
	background: url("../images/pone.png") right 0 no-repeat;
	background-color: #60ca16;
}
.product .onecon .tit{
	border-color: #55c717;
}
.product .twocon .title{
	background: url("../images/ptwo.png") right 0 no-repeat;
	background-color: #ff829c;
}
.product .twocon .tit{
	border-color: #ff809b;
}
.product .thrcon .title{
	background: url("../images/pthree.png") right 0 no-repeat;
	background-color: #04a1ff;
}
.product .thrcon .tit{
	border-color: #04a1ff;
}
/*支付下的文字margin值*/
/*第一个con*/
.product .onecon .content .imgtit1{
	padding: 46px 0 72px 170px;
	color: #101010;
	font-size: 20px;
}
.product .onecon .marg1{
	margin: 0 207px 0 187px;
}
.product .onecon .content .imgtit2{
	padding: 17px 0 72px 145px;
	color: #101010;
	font-size: 20px;
}
.product .onecon .marg2{
	margin: 0 145px 0 184px;
}
.product .onecon .tent2{
	margin-top: 15px;
}
.product .onecon .content .imgtit3{
	padding: 46px 0 72px 130px;
	color: #101010;
	font-size: 20px;
}
.product .onecon .marg3{
	margin: 0px 109px 0 151px;
}
.product .onecon .marg4{
	margin: 0 0 0 96px;
}
.product .onecon .tent3{
	margin-top: 32px;
}
.product .onecon .content .imgtit4{
	padding: 46px 0 0 65px;
	color: #101010;
	font-size: 20px;
}
.product .onecon .marg5{
	margin: 0px 141px 0px 123px;
}
.product .onecon .marg6{
	margin: 0 0 0 96px;
}
.product .onecon .tent4{
	margin-top: 35px;
}
/*第二个*/
.product .twocon .content .imgtit1{
	padding: 46px 0 72px 145px;
	color: #101010;
	font-size: 20px;
}
.product .twocon .content .imgtit2{
	padding: 45px 0 72px 83px;
	color: #101010;
	font-size: 20px;
}
.product .twocon .tent2{
	padding-top: 0;
	margin-top: 85px;
}
.product .twocon .content .imgtit3{
	padding: 46px 0 72px 130px;
	color: #101010;
	font-size: 20px;
}
.product .twocon .tent3{
	margin-top: 39px;
	padding-top: 0;
}
.product .twocon .content .imgtit4{
	padding: 46px 0 0 193px;
	color: #101010;
	font-size: 20px;
}
.product .twocon .tent4{
	margin-top: 35px;
	padding-top: 0;
}
.product .twocon .marg1{
	margin: 0 68px 0 125px;
}
.product .twocon .marg2{
	margin: 0 0 0 36px;
}
.product .twocon .marg3{
	margin: 0px 119px 0 117px;
}
.product .twocon .marg4{
	margin: 0 0 0 96px;
}
.product .twocon .marg5{
	margin: 0px 69px 0px 141px;
}
.product .twocon .marg6{
	margin: 0 0 0 64px;
}
.product .twocon .marg7{
	margin: 0 0 0 264px;
}
/*第三个.thrcon*/
.product .thrcon{
	margin-top: 0px;
	margin-bottom: 15px;
}
.product .thrcon ul{
	margin: 0 0 0 0;
	overflow: hidden;
	text-align: center;
}
.product .thrcon ul li{
	float: left;
	width: 33.33%;
	margin-top: 24px;
}
.product .thrcon ul li p{
	font-size: 20px;
}
.product .thrcon ul li span{
	display: block;
	margin: 26px 0 14px;
	font-size: 20px;
}
.product .thrcon ul li .imgs{
	width: 240px;
	margin: 0 auto;
	font-size: 16px;
	overflow: hidden;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
} 
.product .footer{
	margin-top: 30px;
}
/**************************渠道***************************/
.canal .cont{
	padding-top: 50px;
	background: url("../images/cone.png") center bottom no-repeat;
	background-color: #333;
	height: 350px;
}
.canal .contnav{
	width: 1024px;
	margin: 0 auto;
	overflow: hidden;
}
.canal .navleft{
	padding-top: 53px;
	float: left;
}
.canal .navleft h1{
	width: 465px;
	background: #fcac00;
	text-align: center;
	height: 100px;
	line-height: 100px;
	color: #5c676d;
	font-size: 64px;
}
.canal .navleft p{
	width: 466px;
	color: #ffffff;
}
.canal .navleft .p1{
	width: 473px;
	margin: 22px 0 40px;
	color: #ffffff;
	font-size: 26px;
	font-weight: bold;
	text-align: center;
}
.canal .navleft .p1 strong{
	color: #fcac00;
}
.canal .navleft .p2{
	color: #ffffff;
	line-height: 35px;
	font-size: 18px;
  	text-align: justify;
  	text-justify: inter-ideograph;
  	font-size: 20px;
}
.canal .navleft .p2 strong{
	color: #fcac00;
	font-weight: normal;
}
.canal .navright{
	padding: 36px 50px 0 0;
	float: right;
}
.canal .content{
	width: 1024px;
	margin: 82px auto 111px;
}
.canal .canmain1{
	margin-bottom: 72px;
}
.canal .canmain1 ul{
	margin-top: 23px;
}
.canal .canmain1 li{
	background: url("../images/liststyle.png") 0 center no-repeat;
	font-size: 20px;
	padding: 10px 0 10px 25px;
}
.canal .getwhat li{
	background-position: 0 22px;
	line-height: 33px;
}
.canal .canmain2 p{
	margin: 60px 0 50px;
}
.canal .canmain2 ul{
	overflow: hidden;
	font-size: 20px;
	padding-left: 25px;
	position: relative;
}
.canal .canmain2 ul li{
	height: 56px;
	background: url("../images/cliststyle.png") center bottom no-repeat;
	float: left;
	width: 20%;
	text-align: center;
}
.canal .canmain2 ul .canline{
	position: absolute;
	left: 130px;
	bottom: 7px;
	border-bottom: 1px solid #fbdfae;
	background: none;
	width: 789px;
	z-index: -1;
}
.canal .canmain3{
	margin-top: 100px;
}
.canal .canmain3 h4{
	margin: 32px 0 44px;
	font-size: 20px;
	font-weight: normal;
	line-height: 35px;
}
.canal .canmain3 ul{
	overflow: hidden;
}
.canal .canmain3 ul li{
	float: left;
	width: 33.33%;
}
.canal .canmain3 ul li span{
	display: block;
	margin-top: 45px;
	text-align: center;
	font-size: 20px;
}
/*****************************商户页面*****************************/
.tenant .content{
	width: 1024px;
	padding-top: 158px;
	margin: 0 auto;
}
.tenant .content{
	width: 1024px;
	padding-top: 158px;
	margin: 0 auto;
}
.tenant .antmain1,.antmain2{
	position: relative;
	height: 353px;
	margin-bottom: 210px;
	overflow: hidden;
}
.tenant .ant2,.ant3{
	position: absolute;
}
.tenant .ant1{
	padding-top: 33px;
	float: left;
}
.tenant .ant1 img{
	margin: 0;
}
.tenant .ant2{
	top: 1px;
	right: 0;
}
.tenant .ant2 img{
	margin: 0;
}
.tenant .ant3{
	top: 0px;
	left: 0;
}
.tenant .ant3 img{
	margin: 0;
}
.tenant .ant4{
	width: 400px;
	height: 353px;
	float: right;
}
.tenant .ant4 .texts{
	width: 400px;
	height: 245px;
	float: right;
	margin-top: 60px;
	line-height: 40px;
	font-size: 20px;
	background: url("../images/ant4.png") bottom right no-repeat;
}
.tenant .antmain2{
	margin-bottom: 187px;
}
.tenant .antmain3 h3{
	font-size: 30px;
	margin-bottom: 70px;
	text-align: center;
}
/********************************关于我们页面*************************************/
.aboutus .littlenav{
	background: url("../images/ab1.jpg") center bottom no-repeat;
	background-color: #1b6bc0;
	height: 887px;
	width: 100%;
	padding-top: 153px;
}
.aboutus .littlenav .titcon{
	width: 1024px;
	margin: 0 auto;
}
.aboutus .litone{
	padding-right: 45px;
	text-align: right;
	margin-bottom: 205px;
}
.aboutus .litone h1{
	font-size: 64px;
	color: #ffffff;
	margin-bottom: 23px;
}
.aboutus .litone p{
	font-size: 20px;
	color: #ffffff;
}
.aboutus .littwo p{
	font-size: 30px;
	color: #ffffff;
	text-align: center;
	padding-bottom: 10px;
}
.aboutus .litthr{
	overflow: hidden;
	width: 1000px;
	margin: 123px auto 0;
}
.aboutus .litthr li{
	width: 20%;
	float: left;
}
.aboutus .litthr li .det{
	line-height: 20px;
	font-size: 14px;
	color: #ffffff;
	width: 151px;
	margin: 39px auto 0;
	text-align: justify;
  	text-justify: inter-ideograph;
}
.aboutus .litthr .o2o{
	font-family: "微软雅黑";
}
.aboutus .content{
	width: 1024px;
	margin: 97px auto;
}
.aboutus .abcon1{
	margin-bottom: 30px;
}
.aboutus .abcon1 .cotain{
	margin-top: 30px;
	overflow: hidden;
}
.aboutus .abcon1 .words{
	float: left;
	width: 550px;
	font-size: 20px;
}
.aboutus .abcon1 .words .strong1{
	margin-top: 20px;
}
.aboutus .abcon1 .words p{
	text-align: left;
	margin-top: 25px;
}
.aboutus .abcon1 .words2{
	float: right;
	width: 400px;
	text-align: right;
}
.aboutus .abcon2{
	margin-top: 30px;
}
.aboutus .abcon2 .cotain{
	margin-top: 35px;
	font-size: 20px;
	position: relative;
	height: 822px;
} 
.aboutus .abcon2 .cotain .ableft{
	width: 520px;
	text-align: right;
	position: absolute;
	top: 148px;
	left: 0;
}
.aboutus .abcon2 .cotain .ableft li{
	height: 140px;
	background: url("../images/cliststyle.png") right 3px no-repeat;
	padding-right: 30px;
}
.aboutus .abcon2 .cotain .orange{
	color: #fead00;
	font-weight: normal;
}
.aboutus .abcon2 .cotain .ableft .time{
	display: inline-block;
	width: 71px;
	margin-left: 22px;
}

.aboutus .abcon2 .cotain .abright{
	width: 519px;
	text-align: left;
	position: absolute;
	top: 78px;
	right: 0;
}
.aboutus .abcon2 .cotain .abright li{
	height: 140px;
	background: url("../images/cliststyle.png") left 3px no-repeat;
	padding-left: 30px;
}
.aboutus .abcon2 .cotain .orange{
	color: #fead00;
	font-weight: normal;
}
.aboutus .abcon2 .cotain .abright .time{
	display: inline-block;
	width: 71px;
	margin-right: 22px;
}
.aboutus .abcon2{
	position: relative;
}
.aboutus .abcon3{
	position: absolute;
	top: 93px;
	left: 512px;
	height: 780px;
	width: 0px;
	border-right: 1px solid #fbdfae;
}
